In [63]:
import pandas as pd
from format_data import read_dataset, aggregate_dataset

In [69]:
dataset = pd.read_csv('data/dataset_mood_smartphone.csv')
dataset = read_dataset(dataset)

In [70]:
display(dataset)

             id        variable   value        date
0       AS14.01            mood   6.000  2014-02-26
1       AS14.01            mood   6.000  2014-02-26
2       AS14.01            mood   6.000  2014-02-26
3       AS14.01            mood   7.000  2014-02-26
4       AS14.01            mood   6.000  2014-02-27
...         ...             ...     ...         ...
376907  AS14.30  appCat.weather   8.032  2014-04-11
376908  AS14.30  appCat.weather   3.008  2014-04-19
376909  AS14.30  appCat.weather   7.026  2014-04-26
376910  AS14.30  appCat.weather  23.033  2014-04-27
376911  AS14.32  appCat.weather  22.431  2014-04-07

[376912 rows x 4 columns]

In [71]:
# Unique IDs
n_unique_ids = len(dataset['id'].unique())
print(f'{n_unique_ids} unqiue IDs in dataset')

27 unqiue IDs in dataset

In [72]:
# Average amount of datapoints per id
n_total_datapoints = len(dataset)
print(f'{n_total_datapoints // n_unique_ids} datapoints per id on average')

13959 datapoints per id on average

In [73]:
aggregated_dataset = aggregate_dataset(dataset)

In [74]:
display(aggregated_dataset)

variable,id,date,activity,appCat.builtin,appCat.communication,appCat.entertainment,appCat.finance,appCat.game,appCat.office,appCat.other,...,appCat.travel,appCat.unknown,appCat.utilities,appCat.weather,call,circumplex.arousal,circumplex.valence,mood,screen,sms
0,AS14.01,2014-02-17,0.000000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,...,0.000,0.000,0.000,0.0,2.0,0.000000,0.0,0.0,0.000000,0.0
1,AS14.01,2014-02-18,0.000000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,...,0.000,0.000,0.000,0.0,1.0,0.000000,0.0,0.0,0.000000,0.0
2,AS14.01,2014-02-19,0.000000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,...,0.000,0.000,0.000,0.0,7.0,0.000000,0.0,0.0,0.000000,2.0
3,AS14.01,2014-02-20,0.000000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,...,0.000,0.000,0.000,0.0,2.0,0.000000,0.0,0.0,0.000000,3.0
4,AS14.01,2014-02-21,0.000000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000000,0.0,0.0,0.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968,AS14.33,2014-05-27,0.012704,726.391,2078.403,124.694,0.0,0.0,0.000,142.686,...,0.000,0.000,56.173,0.0,1.0,-0.600000,0.4,6.2,4089.879001,2.0
1969,AS14.33,2014-05-28,0.103301,2551.046,1936.415,614.706,0.0,0.0,357.909,529.946,...,0.000,0.000,30.666,0.0,10.0,0.000000,1.2,8.2,14320.867998,1.0
1970,AS14.33,2014-05-29,0.169354,400.034,435.105,136.738,0.0,0.0,0.000,29.202,...,0.939,0.000,3.199,0.0,5.0,-1.333333,1.0,7.0,3569.341000,1.0
1971,AS14.33,2014-05-30,0.192901,3044.030,1670.842,260.220,0.0,0.0,0.000,52.610,...,1052.648,8.072,232.825,0.0,4.0,-0.800000,-0.4,6.8,9497.646999,0.0
1972,AS14.33,2014-05-31,0.000000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,-2.000000,1.0,7.0,0.000000,0.0

In [90]:
interval_size = 5
min_moods = 3

n_datapoints = 0
for index, row in aggregated_dataset.iterrows():
    
    interval_count = 0
    mood_check = 0
    
    for index2, row2 in aggregated_dataset.iloc[index:].iterrows():

        mood  = row2['mood']
        
        if mood == 0.0:
            mood_check += 1
        
        interval_count += 1
        if interval_count == interval_size:
            if mood_check >= min_moods:
                n_datapoints += 1
                if aggregated_dataset.iloc[index2 + 1]['mood'] != 0.0:
                    label = aggregated_dataset.iloc[index2 + 1]['mood']
                    print(label)

            break

print(n_datapoints)

0.0
0.0
6.25
6.333333333333333
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
6.2
6.4
6.8
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
6.333333333333333
6.75
8.2
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
9.0
7.8
8.2
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
8.0
6.2
6.333333333333333
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
7.0
7.0
8.0
6.8
0.0
0.0
6.333333333333333
7.2
7.4
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
7.0
7.0
6.75
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
5.5
0.0
0.0
0.0
0.0
0.0
0.0
7.0
6.75
6.75
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
7.0
7.8
7.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
7.0
6.4
5.8
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
6.5
6.75
6.166666666666667
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
8.0
7.4
6.4
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
7.0
8.0
7.25
0.0
0.0
0.0
7.4
7.4
7.4
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
4.666666666666667
6.6
7.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
7.0
7.0
7.5
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
7.0
7.0
5.8
0.0
0.0
0.0
0.0
0.0
0.0
8.0
7.6
7.4
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
8.0
7.4
6.5
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
7.5
7.0
6.6
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
7.4
7.0
7.4
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
6.5
7.5
6.8
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
8.5
7.25
8.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
7.0
7.8
7.6
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
6.666666666666667
6.6
6.8
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
8.0
7.0
8.0
7.0
8.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
7.0
7.2
7.4
5.0
690