In [1]:
import pandas as pd
import numpy as np

from format_data import read_dataset, aggregate_dataset, clean_dataset, sliding_window
from dataset import MoodDataset

In [2]:
dataset = pd.read_csv('data/dataset_mood_smartphone.csv')
dataset = read_dataset(dataset)

display(dataset)

             id        variable   value        date
0       AS14.01            mood   6.000  2014-02-26
1       AS14.01            mood   6.000  2014-02-26
2       AS14.01            mood   6.000  2014-02-26
3       AS14.01            mood   7.000  2014-02-26
4       AS14.01            mood   6.000  2014-02-27
...         ...             ...     ...         ...
376907  AS14.30  appCat.weather   8.032  2014-04-11
376908  AS14.30  appCat.weather   3.008  2014-04-19
376909  AS14.30  appCat.weather   7.026  2014-04-26
376910  AS14.30  appCat.weather  23.033  2014-04-27
376911  AS14.32  appCat.weather  22.431  2014-04-07

[376912 rows x 4 columns]

In [25]:
# Unique dates
print(f'{len(dataset["date"].unique())} unique dates')

113 unique dates

In [28]:
# Unique dates
print(f'{min(dataset["date"].unique())} first date')
print(f'{max(dataset["date"].unique())} first date')

2014-02-17 first date
2014-06-09 first date

In [18]:
# Unique IDs
print(f'{len(dataset["id"].unique())} unique ids')

27 unique ids

In [23]:
# Datapoints per ID
print(f'{len(dataset)//len(dataset["id"].unique())} datapoints per id on average')

13959 datapoints per id on average

In [24]:
# Value counts in variable column
print(dataset['variable'].value_counts())

screen                  96578
appCat.builtin          91288
appCat.communication    74276
appCat.entertainment    27125
activity                22965
appCat.social           19145
appCat.other             7650
circumplex.valence       5643
circumplex.arousal       5643
appCat.office            5642
mood                     5641
call                     5239
appCat.travel            2846
appCat.utilities         2487
sms                      1798
appCat.finance            939
appCat.unknown            939
appCat.game               813
appCat.weather            255
Name: variable, dtype: int64

In [16]:
dates = list(dataset['date'].unique())

None