In [59]:
import pandas as pd
from

In [36]:
dataset = pd.read_csv('data/dataset_mood_smartphone.csv')

In [37]:
display(dataset)

             id        variable   value        date
0       AS14.01            mood   6.000  2014-02-26
1       AS14.01            mood   6.000  2014-02-26
2       AS14.01            mood   6.000  2014-02-26
3       AS14.01            mood   7.000  2014-02-26
4       AS14.01            mood   6.000  2014-02-27
...         ...             ...     ...         ...
376907  AS14.30  appCat.weather   8.032  2014-04-11
376908  AS14.30  appCat.weather   3.008  2014-04-19
376909  AS14.30  appCat.weather   7.026  2014-04-26
376910  AS14.30  appCat.weather  23.033  2014-04-27
376911  AS14.32  appCat.weather  22.431  2014-04-07

[376912 rows x 4 columns]

In [38]:
# Unique IDs
n_unique_ids = len(dataset['id'].unique())
print(f'{n_unique_ids} unqiue IDs in dataset')

27 unqiue IDs in dataset

In [39]:
# Average amount of datapoints per id
n_total_datapoints = len(dataset)
print(f'{n_total_datapoints // n_unique_ids} datapoints per id on average')

13959 datapoints per id on average

In [43]:
def select_aggregate_type(row):
    mean_columns = ['mood', 'circumplex.arousal', 'circumplex.valence', 'activity']
    sum_columns = ['screen', 'call', 'sms', 'appCat.builtin', 'appCat.communication', 'appCat.entertainment', 
                   'appCat.finance', 'appCat.game', 'appCat.office', 'appCat.other', 'appCat.social', 
                   'appCat.travel', 'appCat.unknown', 'appCat.utilities', 'appCat.weather']
    if row['variable'] in mean_columns:
        val = row['mean_value']
    elif row['variable'] in sum_columns:
        val = row['sum_value']
    else:
        val = np.NaN
    return val

In [48]:
aggregated_dataset = dataset.groupby(['id', 'date', 'variable']).agg(
    mean_value = pd.NamedAgg(column='value', aggfunc='mean'), 
    sum_value = pd.NamedAgg(column='value', aggfunc='sum')
).reset_index()

In [50]:
aggregated_dataset['value'] = aggregated_dataset.apply(select_aggregate_type, axis=1)
aggregated_dataset = aggregated_dataset.drop(columns=['mean_value', 'sum_value'])

In [56]:
pivot_table = aggregated_dataset.pivot_table(index=['id', 'date'], 
                                             columns=['variable'], values='value').fillna(0).reset_index()

In [61]:
display(pivot_table)

variable,id,date,activity,appCat.builtin,appCat.communication,appCat.entertainment,appCat.finance,appCat.game,appCat.office,appCat.other,...,appCat.travel,appCat.unknown,appCat.utilities,appCat.weather,call,circumplex.arousal,circumplex.valence,mood,screen,sms
0,AS14.01,2014-02-17,0.000000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,...,0.000,0.000,0.000,0.0,2.0,0.000000,0.0,0.0,0.000000,0.0
1,AS14.01,2014-02-18,0.000000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,...,0.000,0.000,0.000,0.0,1.0,0.000000,0.0,0.0,0.000000,0.0
2,AS14.01,2014-02-19,0.000000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,...,0.000,0.000,0.000,0.0,7.0,0.000000,0.0,0.0,0.000000,2.0
3,AS14.01,2014-02-20,0.000000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,...,0.000,0.000,0.000,0.0,2.0,0.000000,0.0,0.0,0.000000,3.0
4,AS14.01,2014-02-21,0.000000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000000,0.0,0.0,0.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968,AS14.33,2014-05-27,0.012704,726.391,2078.403,124.694,0.0,0.0,0.000,142.686,...,0.000,0.000,56.173,0.0,1.0,-0.600000,0.4,6.2,4089.879001,2.0
1969,AS14.33,2014-05-28,0.103301,2551.046,1936.415,614.706,0.0,0.0,357.909,529.946,...,0.000,0.000,30.666,0.0,10.0,0.000000,1.2,8.2,14320.867998,1.0
1970,AS14.33,2014-05-29,0.169354,400.034,435.105,136.738,0.0,0.0,0.000,29.202,...,0.939,0.000,3.199,0.0,5.0,-1.333333,1.0,7.0,3569.341000,1.0
1971,AS14.33,2014-05-30,0.192901,3044.030,1670.842,260.220,0.0,0.0,0.000,52.610,...,1052.648,8.072,232.825,0.0,4.0,-0.800000,-0.4,6.8,9497.646999,0.0
1972,AS14.33,2014-05-31,0.000000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,-2.000000,1.0,7.0,0.000000,0.0